/* MENU BLOG */
.box_post{
    padding: 8px;
    display: flex;
    margin-bottom: 10px;
    /* border: 1px inset rgb(53, 53, 53) ; */
    border-radius: 8px;
    box-shadow: 3px 7px 10px 0px rgba(184,175,184,1);
}

.img_box_post img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img_box_post{
    /* display: flex; */
    width: 70px;
    min-width: 70px;
    height: 70px;
}

.box_post_content{
    padding-left: 15px;
}

.title_post{
    text-decoration: none;
    color: black;
}

.title_post:hover{
    color: #ffbd1f;
}

.post_description{
    color: rgb(65, 65, 65);
    font-size: 13px;
    font-weight: lighter;
    text-align: justify;
}

/* MENU MATERIAIS */
.box{
    margin: 4%;
    text-align: center;
    padding: 5%;
    max-height: max-content;
    border-bottom: 1px solid #fff080;
}

.img img{
    width: 150px;
    height: 150px;
}

.nome_dica h2{
    color: black;
    font-size: 28px;
}

.list{
    text-align: justify;
    font-size: 18px;
} 

.list p{
    text-align: center;
}

.list ul li{
    margin-top: 15px;
    letter-spacing: 1px;
}

.list ul li span{
    font-size: 21px;
    font-weight: bolder;
    color: #ffbd1f;
}

#ref_icone{
    text-align: center;
    font-size: 12px;
}

#ref_icone a{
    text-decoration: none;
}

/* MENU SOBRE NÓS */

#content_sobre{
    height: max-content;
}

.cards{
    display: flex;
    /*justify-content: center;
    transform-style: preserve-3d;
    transition: all .9s; */
    /* perspective: 700px;
    display: flex; */
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .profile_card, .card_back{
    align-items: center;
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
} */

.profile_card, .card_back{
    margin: 12px;
    padding: 10px 15px;
    text-align: justify;
    border-radius: 10px;
    width: 200px;
    max-height: max-content;
}

.profile_card{
    color: #34322d;
    background-color: #ecdaae;
    /* transform: rotateY(180deg); */
}

.card_back{
    /* transform: rotateY(-180deg);
    backface-visibility: hidden; */
    /* background-color: #a3750c;
    color: rgb(54, 54, 54); */
}

/* .flip{
    transform: rotateY(180deg);
} */

/* .cards:hover .profile_card{
    transform: rotateY(180deg);
    z-index: 0;
} */

/* .cards:hover .card_back{
    transform: rotateY(0);
    z-index: 1;
} */

.photo_profile img{
    width: 100%;
    height: 160px;
    /* border: 2px solid #f4ff80; */
    border-radius: 100%;
}

.name_profile{
    font-weight: bolder;
    padding: 4px;
    font-size: 22px;
    text-align: center;
    color: rgb(82, 82, 82);
    border-left: 1.9px solid rgb(82, 82, 82);
    border-right: 1.9px solid rgb(82, 82, 82);
    border-radius: 5px;
}

.description_profile{
    font-weight: normal;
    font-size: 15px;
    text-align: center;
}